 

.home-4{
    background-image: url(../../assets/images/banner/8.jpg);
    width: 100% !important;
}

.wallet-section{
    background-color: rgb(45,21,103);
}

.mySwiper{
    width: 90%;
    height: 80vh !important;
}

.carde{
    background: linear-gradient(125deg, #2d0c68 0%, #303166 37%, #370544 100%);
    border: 2px solid #f3a735;
    border-radius: 40px;
    /* padding: 25px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.tittl{
    font-size: 30px;
    text-align: center;
}

.inner{
    border-radius: 30px;
    background: linear-gradient(125deg, #2d0c68 0%, #303166 37%, #370544 100%);
    border: none;
}

.emg{
    border-radius: 30px;
}

@media screen and (max-width:325px) {
    .mySwiper{
        width: auto;
        height: auto;
    }

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 90%;
        align-items: center;
        margin-left: 14px;
    }
}

@media (min-width:325px) and (max-width:375px) {
    .mySwiper{
        width: 80%;
        height: 80% !important;
    }

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 80%;
        align-items: center;
        margin-left: 25px !important;
        margin-top: 15px;
    }
    
}

@media (min-width:376px) and (max-width:425px) {

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 80%;
        align-items: center;
        margin-left: 30px;
        margin-top: 45px;
    }

    .mySwiper{
    width: 80%;
    height: 80% !important;
    }

    .tittl{
        padding-bottom: -5px;
        font-size: 20px;
    }
}


@media (min-width:426px) and (max-width:600px) {
    .mySwiper{
        width: auto;
        height: auto;
    }

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 90%;
        align-items: center;
        margin-left: 20px;
        margin-top: 45px;
    }

    .mySwiper{
    width: 90%;
    height: 80vh !important;
    }

    .tittl{
        padding-bottom: 10px;
    }
}

@media (min-width:600px) and (max-width:800px) {
    .mySwiper{
        width: 60% !important;
        height: 100vh !important;
    }

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 87%;
        align-items: center;
        margin-left: 30px;
        margin-top: 45px;
    }

    .mySwiper{
    width: 90%;
    height: 80vh !important;
    }

    .tittl{
        padding-bottom: 10px;
    }
}

@media (min-width:800px) and (max-width:1200px) {

    .home-4{
        width: 100% !important;
    }

    .mySwiper{
        width: 90% !important;
        height: 100vh !important;
    }

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 87%;
        align-items: center;
        margin-left: 20px;
        margin-top: 45px;
    }

    .mySwiper{
    width: 90%;
    height: 80vh !important;
    }

    .tittl{
        padding-bottom: 10px;
    }
}


 @media (min-width:1200px) and (max-width:1440px) {
    .wallet-section{
        background-color: rgb(45,21,103);
    }
    
    .mySwiper{
        width: 90%;
        height: 80vh !important;
    }
    
    .carde{
        background: linear-gradient(125deg, #2d0c68 0%, #303166 37%, #370544 100%);
        border: 2px solid #f3a735;
        border-radius: 40px;
        /* padding: 25px; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    
    .tittl{
        font-size: 30px;
        text-align: center;
    }
    
    .inner{
        border-radius: 30px;
        background: linear-gradient(125deg, #2d0c68 0%, #303166 37%, #370544 100%);
        border: none;
    }
    
    .emg{
        border-radius: 30px;
    }
} 


@media (min-width:1440px) and (max-width:4000px) {

    .home-4{
        width: 100% !important;
    }

    .mySwiper{
        width: 90% !important;
        height: 100vh !important;
    }

    .carde{
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .emg{
        width: 87%;
        align-items: center;
        margin-left: 20px;
        margin-top: 45px;
    }

    .mySwiper{
    width: 90%;
    height: 80vh !important;
    }

    .tittl{
        padding-bottom: 10px;
    }
}














     

      .swiper {
        width: 100px !important;
        height: 320px;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
      }

      .swiper-slide:nth-child(1n) {
        background-color: rgb(206, 17, 17);
      }

      .swiper-slide:nth-child(2n) {
        background-color: rgb(0, 140, 255);
      }

      .swiper-slide:nth-child(3n) {
        background-color: rgb(10, 184, 111);
      }

      .swiper-slide:nth-child(4n) {
        background-color: rgb(211, 122, 7);
      }

      .swiper-slide:nth-child(5n) {
        background-color: rgb(118, 163, 12);
      }

      .swiper-slide:nth-child(6n) {
        background-color: rgb(180, 10, 47);
      }

      .swiper-slide:nth-child(7n) {
        background-color: rgb(35, 99, 19);
      }

      .swiper-slide:nth-child(8n) {
        background-color: rgb(0, 68, 255);
      }

      .swiper-slide:nth-child(9n) {
        background-color: rgb(218, 12, 218);
      }

      .swiper-slide:nth-child(10n) {
        background-color: rgb(54, 94, 77);
      }







      .css-i4bv87-MuiSvgIcon-root {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        width: 1em;
        height: 1em;
        display: inline-block;
        fill: currentColor;
        -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        -webkit-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        font-size: 1.5rem;
        color: #fff !important;
    }